<!DOCTYPE html>
<html>

<head>

    <title>Voter Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<div class="dashboard">

    <h1>🗳️ Voter Dashboard</h1>

    <h2>
        Welcome, {{ name }} 👋
    </h2>


    <div class="dashboard-actions">

        <div class="dashboard-card">

            <h2>🗳️ Voting</h2>

            <p>
                View available candidates
                and cast your vote.
            </p>

            <a href="{{ url_for('candidates') }}">
                <button>
                    View Candidates & Vote
                </button>
            </a>

        </div>


        <div class="dashboard-card">

            <h2>📊 Results</h2>

            <p>
                View current election results.
            </p>

            <a href="{{ url_for('result') }}">
                <button>
                    View Results
                </button>
            </a>

        </div>

    </div>


    <div class="navigation">

        <a class="nav-btn"
           href="{{ url_for('index') }}">
            🏠 Home
        </a>

        <a class="nav-btn"
           href="{{ url_for('logout') }}">
            🚪 Logout
        </a>

    </div>

</div>

</body>

</html>
